---
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://api.thecatapi.com/v1/images/search?limit=10';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Cats</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Catos</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  {

			data.map((cat) => (
			  <li class="card">
				<img src={cat.url} alt="cat" width={cat.width}/>
			  </li>
			))

		  }
		  
			</ul>
		  </main>
		  


	</body>
</html>
